/* RESET CSS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
input {
  all: unset;
}

/* main colors  */

:root {
  --primary-background: #454d6b;
  --secondary-background: #a13854;
  --secondary-background-contrast: #353b50;

  --primary-text: #EAEAEA;
  --secondary-text: #9F9FA0;
}

/* user-agent font-size is 16px */

@media(max-width: 1080px) {
  :root {
     font-size: 93.75%; /* 15px */
  }
}

@media(max-width: 943px) {
  :root {
     font-size: 87.5%; /* 14px */
  }
}

@media(max-width:700px) {
  :root {
     font-size: 75%; /* 12px */
  }
}

@media(max-width: 590px) {
  :root {
     font-size: 62.25%; /* 10px */
  }
}

body {
  background-color: var(--primary-background);
  color: var(--primary-text);
  font-family: Helvetica, sans-serif;
  height: 100vh;
  width: 100vw;
}

h1 {
  font-size: 3rem;
}

input {
  height: 3.5rem;
  background-color: var(--primary-text);
  color: var(--primary-background);
  padding-left: 1rem;
}

input[type="submit"] {
  background-color: var(--secondary-background);
  color: var(--primary-text);
  text-align: center;
  padding: 0 1rem;
  cursor: pointer;
}

.text-button {
  display: flex;
}
.text-button:hover {
  text-decoration: underline;
  cursor: pointer
}


/* TOAST */

#toast {
  visibility: hidden;
  max-width: 50px;
  height: 50px;
  /*margin-left: -125px;*/
  margin: auto;
  color: #fff;
  text-align: center;
  border-radius: 2px;

  position: fixed;
  z-index: 1;
  left: 0;right:0;
  bottom: 30px;
  font-size: 17px;
  white-space: nowrap;
}

#toast.success {
  background-color: #95eab8;
}

#toast.success #img{
  background-color: #2ecc71;
}

#toast.default {
  background-color: #333;
}

#toast.default #img{
  background-color: #111;
}

#toast.error {
  background-color: #efaca5;
}

#toast.error #img{
  background-color: #e74c3c;
}


#toast.warning {
  background-color: #ead994;
}

#toast.warning #img{
  background-color: #f1c40f;
}

#toast #img{
  width: 50px;
  height: 50px;

  float: left;

  padding-top: 16px;
  padding-bottom: 16px;

  box-sizing: border-box;

  color: #fff;
}
#toast #desc{
  color: #fff;

  padding: 16px;

  overflow: hidden;
  white-space: nowrap;
}

#toast.show {
  visibility: visible;
  animation: fadein 0.5s, expand 0.5s 0.5s,stay 2s 1s, shrink 0.5s 2.5s, fadeout 0.5s 3s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes expand {
  from {min-width: 50px}
  to {min-width: 350px}
}

@keyframes expand {
  from {min-width: 50px}
  to {min-width: 350px}
}
@-webkit-keyframes stay {
  from {min-width: 350px}
  to {min-width: 350px}
}

@keyframes stay {
  from {min-width: 350px}
  to {min-width: 350px}
}
@-webkit-keyframes shrink {
  from {min-width: 350px;}
  to {min-width: 50px;}
}

@keyframes shrink {
  from {min-width: 350px;}
  to {min-width: 50px;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 60px; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 60px; opacity: 0;}
}
