body {
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  width: 35rem;
  height: 40rem;
  padding: 4rem 2rem 2rem 2rem;
  box-sizing: border-box;
  background-color: var(--secondary-background-contrast);

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#title {
  text-decoration: underline;
  margin-bottom: 5rem;
}

form#login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

